$brightBlue: hsl(220, 98%, 61%);
$backGroundGradient: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);

/* LIGHT THEME */
$lightGrey: hsl(0, 0%, 98%);
$lightGreyishBlue: hsl(236, 33%, 92%);
$greyishBlue: hsl(233, 11%, 84%);
$darkGreyishBlue: hsl(236, 9%, 61%);
$grey: hsl(235, 19%, 35%);

/* DARK THEME */
$darkBlue: hsl(235, 21%, 11%);
$desaturatedBlue: hsl(235, 24%, 19%);
$darkThemeLightGrey: hsl(234, 39%, 85%);
$darkThemeGrey: hsl(234, 11%, 52%);
$darkThemeDarkBlue: hsl(233, 14%, 35%);
$darkThemeDarkGrey: hsl(237, 14%, 26%);
$darkThemeHover: hsl(236, 33%, 92%);
