@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  background: $lightGreen;
  color: $darkGreen;
  font-family: 'Space Mono', monospace;
  font-size: 16px;
}
.container {
  background: white;
  border-radius: 1rem 1rem 0 0;
  padding: 1.5rem 1.75rem;
}
.logo {
  display: block;
  margin: 2rem auto;
}
.bill-input,
.number-of-people-container {
  display: flex;
  flex-direction: column;
  position: relative;

  label {
    font-weight: 700;
    padding: 0.5rem 0;
  }

  .bill-total,
  .number-of-people {
    border: none;
    border-radius: 0.25rem;
    background: $lightGreyGreen;
    color: $deepGreen;
    padding: 0.5rem;
    font-family: inherit;
    font-size: 24px;
    font-weight: 700;
    text-align: right;
  }

  .dollar-sign,
  .people-icon {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
  }
}
.tip-selection-container {
  padding: 1rem 0;
  p {
    font-weight: 700;
    padding: 0.5rem 0;
  }
}
.tip-buttons-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 1fr));
  gap: 1rem;

  button {
    background: $deepGreen;
    border: none;
    border-radius: 0.25rem;
    color: $lightGreyGreen;
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5rem;
    cursor: pointer;

    &:focus,
    &:hover {
      background: $boldGreen;
      color: $deepGreen;
    }
  }

  .tip-custom-percent {
    background: $lightGreyGreen;
    border: none;
    color: $darkGreen;
    font-family: inherit;
    font-size: 1.2rem;
    text-align: center;
  }
}
.total-dashboard {
  background: $deepGreen;
  border-radius: 0.5rem;
  padding: 1.5rem 1rem 1rem 1rem;
  margin-top: 2rem;

  .tip-amount-person-container,
  .amount-total-person-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left-label {
      display: flex;
      flex-direction: column;

      .amount-label {
        color: $lightGreyGreen;
      }

      .sub-heading {
        color: $darkGreen;
        font-size: 0.8rem;
      }
    }

    .amount-per-person-total {
      color: $boldGreen;
      font-size: 2rem;
      font-weight: 700;
      padding: 0.5rem 0;
    }
  }
  .reset {
    background: $boldGreen;
    border: none;
    border-radius: 0.25rem;
    color: $deepGreen;
    font-family: inherit;
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1rem 0;
    margin: 1.5rem 0 1rem 0;
    width: 100%;
    cursor: pointer;
  }
}
