html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Rubik', sans-serif;
  font-size: 100%;
  color: $veryDarkBlue;
  overflow-x: hidden;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
h2,
h3 {
  font-size: 1.5rem;
  font-weight: 500;
}
p {
  padding: 0 2rem;
  text-align: center;
  color: $grayishBlue;
  line-height: 1.7;
  margin-bottom: 1.5rem;
  font-size: 0.9rem;
}
header {
  position: relative;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 3.5rem 10.25rem;
  z-index: 10;
}
.nav__links {
  display: flex;
  justify-content: space-between;

  li {
    padding: 0 1.40625rem;

    &:last-child {
      padding-right: 0;
    }
  }

  a {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.75rem;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: $softRed;
    }
  }
  .nav__login {
    background: $softRed;
    border: 2px solid $softRed;
    border-radius: 8px;
    color: white;
    font-weight: 500;
    padding: 0.9375rem 2.125rem;

    &:hover {
      background: white;
      border: 2px solid $softRed;
      color: $softRed;
    }
  }

  &.open {
    position: absolute;
    top: 3.5rem;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;

    & li {
      border-top: 1px solid $grayishBlue;
      padding: 1.375rem 0;
      text-align: center;
      width: 85%;
    }

    & a {
      font-size: 1.25rem;
    }
    & .nav__login-container {
      padding-top: 2rem;
    }
    & .nav__login {
      display: block;
      background: transparent;
      border: 2px solid white;
      width: 100%;

      &:hover {
        background: white;
        color: $softRed;
      }
    }
  }
}
.hamburger {
  display: none;
  width: 1rem;
  height: 1rem;
  position: relative;

  & span {
    display: block;
    background: $veryDarkBlue;
    height: 3px;
    width: 100%;
    margin: 2px 0;
    transition: all 0.3s ease-in-out;
  }
  &.open > span:first-child {
    position: absolute;
    top: 4px;
    left: 0;
    background: white;
    transform: rotate(45deg);
  }
  &.open > span:nth-child(2) {
    opacity: 0;
  }
  &.open > span:last-child {
    position: absolute;
    top: 4px;
    right: 0;
    background: white;
    transform: rotate(135deg);
  }
}
.nav-overlay {
  background: $veryDarkBlue;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s ease-in;
  z-index: -10;

  &.open {
    visibility: visible;
    opacity: 0.95;
  }
}
.hero {
  display: flex;
  justify-content: space-between;
  margin-top: 4.375rem;
}
.hero__img {
  width: 80%;
  position: relative;
  margin: 0 auto 2.625rem auto;
  z-index: 1;

  &::after {
    content: '';
    position: absolute;
    top: 3.5rem;
    left: 3.625rem;
    background: $softBlue;
    border-bottom-left-radius: 40%;
    height: 85%;
    width: 100%;
    z-index: -10;
  }

  & img {
    width: 100%;
  }
}
.hero__text-cta {
  & h2 {
    padding: 0 2.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }
}

.hero-cta-btns-container {
  display: flex;
  justify-content: center;
  padding: 0 1.5rem;

  & button {
    background: none;
    border: none;
    font-family: inherit;
    font-size: 0.9rem;
    padding: 0.75rem 0.8125rem;
    margin: 0 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &.chrome {
      background: $softBlue;
      border: 2px solid $softBlue;
      border-radius: 8px;
      color: white;
      margin-left: 0;
      &:hover {
        background: transparent;
        border: 2px solid $softBlue;
        color: $softBlue;
      }
    }
    &.firefox {
      border: 2px solid white;
      box-shadow: 4px 4px 10px lightgrey;
      border-radius: 8px;
      color: $veryDarkBlue;
      &:hover {
        background: transparent;
        border: 2px solid $veryDarkBlue;
        color: $veryDarkBlue;
      }
    }
  }
}
.features {
  margin-top: 7.5rem;

  & h2 {
    text-align: center;
    padding-bottom: 1rem;
  }
}
.features__tabs-container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.features__tabs {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 0 auto;

  & .tabs-list-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 4rem;

    & button {
      background: transparent;
      border: none;
      border-top: 1px solid $grayishBlue;
      color: $grayishBlue;
      font-family: inherit;
      font-size: 1rem;
      padding: 1rem 0;
      cursor: pointer;
      outline: none;
      position: relative;
      &:last-child {
        border-bottom: 1px solid $grayishBlue;
      }
    }

    & button[aria-selected='true'] {
      color: $veryDarkBlue;
      font-weight: 500;

      & .active {
        display: block;
        position: absolute;
        bottom: 0;
        left: 30%;
        background: $softRed;
        width: 40%;
        height: 0.25rem;
      }
    }
  }
}
.tab-img-container {
  width: 100%;
  position: relative;
  margin-bottom: 4.75rem;

  &::after {
    position: absolute;
    content: '';
    top: 2.2rem;
    left: -4rem;
    background: $softBlue;
    border-bottom-right-radius: 40%;
    height: 100%;
    width: 100%;
    z-index: -10;
  }

  & img {
    width: 100%;
  }
}
.tab-panel-container {
  text-align: center;

  & h3 {
    padding-bottom: 1rem;
  }
  & .tab-more-info {
    display: none;
  }
}

@media screen and (max-width: 53.75rem) {
  .nav {
    padding: 2.125rem 1.6875rem;
  }
  .hamburger {
    display: block;
    background: none;
    border: none;
    width: 1.1875rem;
    height: 1rem;
    outline: none;
    cursor: pointer;

    & img {
      height: 100%;
      width: 100%;
    }
  }
  .nav__links {
    display: none;
  }
  .hero {
    flex-direction: column-reverse;
  }
}
@media screen and (min-width: 53.76rem) {
  header {
    padding-bottom: 4rem;
  }
  .hero {
    padding-left: 10.25rem;
  }
  .hero__text-cta {
    width: 50%;
    & h2 {
      font-size: 2.5rem;
      text-align: left;
      padding-left: 0;
    }
  }
  .hero-text {
    padding-left: 0;
    text-align: left;
    font-size: 1.2rem;
    width: 90%;
  }
  .hero__img {
    width: 50%;
    padding-right: 2rem;
    padding-bottom: 2rem;
    margin-top: -4rem;
    margin-bottom: 0;
    &::after {
      height: 75%;
    }
  }
  .hero-cta-btns-container {
    padding-left: 0;
    margin-left: 0;
    justify-content: start;

    & button {
      padding: 0.75rem 1rem;
      font-weight: 500;
    }
  }
  .features {
    & h2 {
      font-size: 2rem;
    }
    & .features__description {
      font-size: 1.2rem;
      width: 40rem;
      margin: 0 auto;
    }
  }
  .features__tabs .tabs-list-container {
    flex-direction: row;
    justify-content: center;
    width: 60%;
    margin: 0 auto;

    & button {
      border: 0;
      border-bottom: 1px solid $grayishBlue;
      width: 100%;
    }
    & button[aria-selected='true'] .active {
      left: 0;
      width: 100%;
    }
  }
  .active-tab {
    display: flex;

    & .tab-img-container {
      width: 100%;
      padding: 2rem 0 2rem 4rem;

      &::after {
        top: 4rem;
        left: -8rem;
        border-bottom-right-radius: 30%;
        height: 80%;
        width: 120%;
      }
    }
  }
  .tab-description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    max-height: 100%;

    & h3 {
      font-size: 2rem;
      text-align: left;
      padding: 0 0 1rem 8rem;
    }

    & .tab-description {
      text-align: left;
      padding-left: 8rem;
      font-size: 1.1rem;
    }
    & .tab-more-info {
      display: block;
      font-family: inherit;
      font-weight: 500;
      border: none;
      background: $softBlue;
      border-radius: 4px;
      color: white;
      width: 6.5rem;
      padding: 0.8rem 0;
      margin-left: 8rem;
    }
  }
}
@media screen and (min-width: 90rem) {
  .hero__text-cta {
    width: 50%;
    & h2 {
      font-size: 2.75rem;
    }
  }
  .hero__img {
    width: 50%;
    margin-top: -6rem;
    overflow: visible;

    &::after {
      top: 8.5rem;
      left: 10.625rem;
    }
  }
  .active-tab {
    display: flex;
    & .tab-img-container {
      &::after {
        top: 8rem;
        left: -12rem;
      }
    }
  }
}
