@import './variables';
@import './globals';

.hero {
  background: url(../imgs/mobile-image-hero-1.jpg) no-repeat;
  background-size: cover;
  position: relative;

  .logo {
    text-align: center;
    padding-top: 3rem;
  }

  .main-navigation {
    padding: 0 1.75rem;

    .hamburger-menu {
      position: absolute;
      top: 3rem;
      cursor: pointer;
    }

    .nav-links {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 0.8rem;
      font-weight: 600;
      position: absolute;
      left: 0;
      top: 3rem;
      width: 100%;
      padding: 0 1.75rem;
      opacity: 0;
      transform: translateY(-200px);
      transition: 0.5s all ease-in-out;

      .hamburger-menu-exit {
        position: absolute;
        left: 1.9rem;
        cursor: pointer;
      }

      &.open {
        background: white;
        position: absolute;
        top: 0;
        left: 0;
        height: 110px;
        padding: 0 1.25rem;
        transform: translateY(0);
        opacity: 1;

        .hamburger-menu-exit {
          position: absolute;
          top: 3rem;
          left: 1.8rem;
          cursor: pointer;
        }

        .menu-overlay {
          position: absolute;
          background: $veryDarkGray;
          height: 88vh;
          width: 100%;
          top: 110px;
          right: 0;
          bottom: 0;
          left: 0;
          opacity: 0.8;
        }
      }

      & li:nth-child(2) {
        margin-left: 5.5rem;
      }

      a {
        color: black;
        text-decoration: none;
      }
    }
  }

  .hero-carousel {
    background: black;
    display: flex;
    justify-content: space-between;
    padding: 0.9rem 1.25rem;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;

    .carousel-left,
    .carousel-right {
      cursor: pointer;
    }
  }
}
