@import './variables';
@import './globals';

.hero {
  background: url(../imgs/mobile-image-hero-1.jpg) no-repeat;
  background-size: cover;
  position: relative;

  &.carousel1 {
    background: url(../imgs/mobile-image-hero-2.jpg) no-repeat;
    transition: all 0.3s ease;
  }
  &.carousel2 {
    background: url(../imgs/mobile-image-hero-3.jpg) no-repeat;
    transition: all 0.3s ease;
  }

  .logo {
    text-align: center;
    padding-top: 3rem;
  }

  .main-navigation {
    padding: 0 1.75rem;

    .hamburger-menu {
      position: absolute;
      top: 3rem;
      cursor: pointer;
    }

    .nav-links {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 0.8rem;
      font-weight: 600;
      position: absolute;
      left: 0;
      top: 3rem;
      width: 100%;
      padding: 0 1.75rem;
      opacity: 0;
      transform: translateY(-200px);
      transition: 0.5s all ease-in-out;

      .hamburger-menu-exit {
        position: absolute;
        left: 1.9rem;
        cursor: pointer;
      }

      &.open {
        background: white;
        position: absolute;
        top: 0;
        left: 0;
        height: 110px;
        padding: 0 1.25rem;
        transform: translateY(0);
        opacity: 1;

        .hamburger-menu-exit {
          position: absolute;
          top: 3rem;
          left: 1.8rem;
          cursor: pointer;
        }

        .menu-overlay {
          position: absolute;
          background: $veryDarkGray;
          height: 88vh;
          width: 100%;
          top: 110px;
          right: 0;
          bottom: 0;
          left: 0;
          opacity: 0.8;
        }
      }

      & li:nth-child(2) {
        margin-left: 5.5rem;
      }

      a {
        color: black;
        text-decoration: none;
      }
    }
  }
}
/*
----------
Description
----------
*/
.descriptor {
  padding: 4rem 1.75rem;
  position: relative;

  .descriptor-wrapper {
    h2 {
      font-size: 1.65rem;
      font-weight: 600;
      padding: 1rem 0;
    }
    p {
      color: $darkGray;
      font-size: 0.7rem;
      line-height: 1.8;
      padding-bottom: 3rem;
    }
  }

  .descriptor-cta {
    display: flex;

    h3 {
      font-size: 0.75rem;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0.65rem;
      padding-right: 1.75rem;
    }
  }

  .carousel {
    background: black;
    display: flex;
    justify-content: space-between;
    padding: 0.9rem 1.25rem;
    position: absolute;
    top: -3.59rem;
    right: 0;
    width: 30%;

    .carousel-left,
    .carousel-right {
      cursor: pointer;
    }
  }
}
/*
----------
About
----------
*/
.about-img,
.about-img-2 {
  width: 100%;

  img {
    width: 100%;
  }
}
.about {
  padding: 4rem 1.75rem;

  h2 {
    font-size: 0.72rem;
    letter-spacing: 0.35rem;
    text-transform: uppercase;
    padding-bottom: 1rem;
  }

  p {
    color: $darkGray;
    font-size: 0.7rem;
    line-height: 1.8;
  }
}
/*
----------
Media Queries
----------
*/
@media screen and (min-width: 1000px) {
  .hero {
    background: url(../imgs/desktop-image-hero-1.jpg) no-repeat;
    background-size: cover;
    grid-column: 1 / 15;

    &.carousel1 {
      background: url(../imgs/desktop-image-hero-2.jpg) no-repeat;
      transition: all 0.3s ease;
    }
    &.carousel2 {
      background: url(../imgs/desktop-image-hero-3.jpg) no-repeat;
      transition: all 0.3s ease;
    }

    .logo {
      text-align: left;
      padding-left: 4.5rem;
    }

    .hamburger-menu {
      display: none;
    }

    .main-navigation {
      .nav-links {
        opacity: 1;
        transform: translateY(0);
        left: 6rem;
        padding: 0 0.5rem;
        width: 50%;

        a {
          color: white;
        }
      }

      .hamburger-menu-exit {
        display: none;
      }
    }
  }

  .descriptor {
    grid-column: 15 / end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-left: 5.5rem;
    padding-right: 5.5rem;

    .descriptor-wrapper {
      h2 {
        font-size: 2.4rem;
      }

      p {
        font-size: 0.75rem;
      }
    }

    .carousel {
      width: 22.25%;
      top: auto;
      bottom: 0;
      left: 0;
    }
  }

  .about-img {
    grid-column: 1 / 8;
  }

  .about {
    grid-column: 8 / 18;
    padding-left: 3rem;
    padding-right: 5.5rem;

    p {
      font-size: 0.68rem;
    }
  }

  .about-img-2 {
    grid-column: 18 / end;
    margin-left: -2.85rem;
    width: 110%;
  }
}
