@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import './globals.scss';
@import './variables.scss';

.title {
  font-size: 1.6rem;
  padding-bottom: 0.5rem;
}
.header-total {
  border-bottom: 1px solid $dark-grayish-blue;
  color: $dark-grayish-blue;
  font-weight: 700;
  padding-bottom: 1.5rem;
}
.social-media-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;

  .social-media-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $grayish-blue;
    border-radius: 4px;
    padding: 2rem 0;

    .social-img {
      display: flex;
      align-items: center;

      .social-handle {
        color: $dark-grayish-blue;
        font-size: 0.8rem;
        font-weight: 700;
        padding-left: 0.5rem;
      }
    }
    .follower-count {
      font-size: 4rem;
      font-weight: 700;
    }
    .follower-subtext {
      color: $dark-grayish-blue;
      font-size: 0.8rem;
      text-transform: uppercase;
      letter-spacing: 0.43rem;
    }
    .follower-count-today {
      color: $lime-green;
      display: flex;
      align-items: center;
      font-size: 0.8rem;
      font-weight: 700;
      padding-top: 2rem;

      svg {
        margin-right: 0.5rem;
      }
    }
  }
}
