@import './variables';
@import './globals';
/*
------
Header/Nav
-------
*/
header {
  display: flex;
  justify-content: space-between;
  padding: 2.11rem 1.33rem 0.25rem 1.33rem;
  position: relative;

  .main-navigation {
    position: absolute;
    top: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
    z-index: 2;

    &.open {
      display: flex;
      justify-content: center;
      align-items: center;
      background: $darkViolet;
      border-radius: 0.5rem;
      padding: 1rem;
      position: absolute;
      top: 5.5rem;
      left: 1.33rem;
      text-align: center;
      width: 89.5%;
      opacity: 1;
      visibility: visible;
      z-index: 2;
    }

    & .main-links {
      color: white;
      font-size: 1.25rem;
      font-weight: 700;
      width: 100%;

      li {
        padding: 1rem;
      }

      hr {
        background: $grayishViolet;
        border: none;
        width: 90%;
        height: 0.1rem;
        margin: 1rem auto;
      }

      .sign-up-btn {
        background: none;
        border: none;
        background: $cyan;
        border-radius: 2rem;
        color: white;
        font-family: inherit;
        font-size: 1.25rem;
        font-weight: 700;
        width: 100%;
        padding: 0.75rem 0;
      }
    }
  }

  .hamburger {
    background: none;
    border: none;
    position: absolute;
    top: 2.11rem;
    right: 1.3rem;
    cursor: pointer;

    & span {
      display: block;
      height: 0.2rem;
      width: 1.844rem;
      margin: 0.388rem;
      background: $lightGray;
    }
  }
}
/*
------
Hero
-------
*/
.hero {
  padding: 1rem 0 4rem 0;
  margin-bottom: 1rem;

  .hero-img-wrapper {
    padding: 0 0 2.25rem 1.33rem;
    overflow-x: hidden;

    #hero-img {
      width: 145%;
    }
  }

  .hero-text {
    padding: 1.75rem 1.33rem 1rem 1.33rem;
    text-align: center;

    .hero-tagline {
      color: $veryDarkBlue;
      font-size: 2.5rem;
      line-height: 1.2;
      padding-bottom: 1rem;
    }

    .hero-sub-text {
      color: $grayishViolet;
      font-weight: 500;
      padding-bottom: 1.5rem;
    }

    .hero-cta {
      background: none;
      border: none;
      background: $cyan;
      border-radius: 2rem;
      color: white;
      font-family: inherit;
      font-size: inherit;
      font-weight: 700;
      padding: 0.75rem 2.25rem;
    }
  }
}
/*
------
Form - Shortening link
-------
*/
#form-link-submission {
  background: $darkViolet url(../imgs/bg-shorten-mobile.svg) no-repeat top right;
  border-radius: 0.5rem;
  padding: 1.5rem;
  margin: -10rem 1.33rem 1rem 1.33rem;
  bottom: -10rem;
  width: 100%;

  #form-link {
    border: none;
    border-radius: 0.25rem;
    font-family: inherit;
    font-size: inherit;
    margin-bottom: 1.25rem;
    padding: 0.5rem;
    width: 100%;
    position: relative;

    &::placeholder {
      font-size: 1rem;
      color: $grayishViolet;
    }
  }

  .form-button {
    background: none;
    border: none;
    background: $cyan;
    border-radius: 0.25rem;
    color: white;
    font-family: inherit;
    font-weight: 700;
    font-size: inherit;
    padding: 0.5rem;
    width: 100%;
  }
}
/*
------
Shortened Links
-------
*/
.links-shortened-results {
  text-align: left;
  width: 100%;

  .shortened-result {
    background: white;
    border-radius: 0.5rem;
    padding: 1.5rem 1.33rem;
    margin: 1.5rem 0;

    p {
      color: $veryDarkBlue;
      padding: 0.5rem;
      font-size: inherit;
      font-weight: 500;
    }

    .originalIP {
      border-bottom: 1px solid lightgrey;
    }

    .shortenedIP {
      color: $cyan;
    }

    button {
      background: none;
      border: none;
      background: $cyan;
      border-radius: 0.5rem;
      color: white;
      font-family: inherit;
      font-size: 1rem;
      font-weight: 700;
      padding: 0.7rem 0;
      width: 100%;
      cursor: pointer;
      z-index: 1;
    }
  }
}

/*
------
Stat Cards
-------
*/
.advanced-stats {
  margin-top: 6rem;
  .advanced-stats-wrapper {
    background: rgba(216, 216, 216, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 1.33rem 0.5rem 1.33rem;
    text-align: center;
    width: 100%;
  }

  h2,
  h3 {
    color: $veryDarkBlue;
    padding: 1rem 0;
  }

  p {
    color: $grayishViolet;
    font-size: 1rem;
    font-weight: 500;
  }

  .stats-blurb-header {
    padding-bottom: 5rem;
  }

  .stats-details {
    background: white;
    border-radius: 0.5rem;
    padding: 4rem 1rem 1rem 1rem;
    margin-bottom: 6rem;
    position: relative;

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      background: $darkViolet;
      border-radius: 50%;
      width: 5.5rem;
      height: 5.5rem;
      position: absolute;
      top: -2.5rem;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }
}
.boost-cta {
  background: $darkViolet url(../imgs/bg-boost-mobile.svg) no-repeat;
  background: cover;
  color: white;
  text-align: center;
  padding: 5.75rem 1.5rem;

  & button {
    background: none;
    border: none;
    background: $cyan;
    border-radius: 2rem;
    color: white;
    font-family: inherit;
    font-size: 1.35rem;
    font-weight: 700;
    padding: 0.75rem 2.5rem;
    margin-top: 1rem;
    cursor: pointer;
  }
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $veryDarkViolet;
  padding: 1rem 1.33rem;

  .logo {
    padding: 2rem 0;
  }

  .footer-links {
    text-align: center;
    padding-bottom: 1.5rem;

    h4 {
      color: white;
      padding-bottom: 1.5rem;
    }
    li {
      color: $grayishViolet;
      font-size: 1rem;
      padding: 0.25rem 0;
    }
  }

  .footer-social-media {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    padding: 2rem 0;
    margin: 0 auto;
  }
}
.attribution {
  background: $veryDarkViolet;
  color: white;
  font-size: 0.7rem;
  text-align: center;
  padding-bottom: 0.5rem;
}
