:root {
  --cyan: hsl(179, 62%, 43%);
  --light-green: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --gray-blue: hsl(218, 22%, 67%);
}
html {
  box-sizing: border-box;
}
*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  padding: 0 2em;
}
ul, li {
  list-style: none;
}
.flex-wrapper {
  box-shadow: 0 6px 10px lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 10px;
  max-width: 940px;
  margin: 4em auto;
}
header {
  padding: 2.5em;
}
header p {
  color: var(--gray-blue);
  margin-bottom: .5em;
  font-size: 1.5em;
}
h1 {
  color: var(--cyan);
  font-size: 2.3em;
  font-weight: 700;
  margin-bottom: 2rem;
}
.header-highlight {
  color: var(--light-green);
  font-size: 1.7em;
  font-weight: 700;
  margin-bottom: 1rem;
}
section {
  display: flex;
  flex-wrap: wrap;
  color: var(--light-gray);
}
section h3 {
  font-size: 1.7em;
  color: #fff;
  padding-bottom: .5em;
}
section p, section ul li {
  font-size: 1.4em;
}
.card-left, .card-right {
  flex-basis: 0;
  flex-grow: 1;
  padding: 2.5em;
}
.card-left {
  background-color: hsl(179, 62%, 35%);
  border-radius: 0 0 0 10px;
  display: flex;
  flex-direction: column;
}
.card-right {
  background-color: var(--cyan);
  border-radius: 0 0 10px 0;
}
.dollar-amount {
  display: flex;
  align-items: center;
  padding-bottom: .3em;
}
.dollar-amount_amount {
  color: #fff;
  font-size: 2em;
  font-weight: 700;
  margin-right: .5em;
}
button {
  border: none;
  background-color: var(--light-green);
  border-radius: 10px;
  color: var(--light-gray);
  box-shadow: 0 4px 8px hsl(179, 62%, 20%);
  font-family: inherit;
  font-size: 1.2em;
  font-weight: 700;
  padding: 1em;
  width: 100%;
  margin-top: 2em;
  cursor: pointer;
}
button:hover {
  background-color: var(--gray-blue);
}
footer {
  text-align: center;
  padding: 1em;
}
@media screen and (max-width: 600px) {
  body {
    padding: 0 .5em;
    font-size: .9em;
  }
  section {
    flex-direction: column;
  }
  .card-left {
    border-radius: 0;
  }
}