:root {
  --dark-blue: hsl(243, 87%, 12%);
  --desaturated-blue: hsl(238, 22%, 44%);
  --bright-blue: hsl(224, 93%, 58%);
  --cyan: hsl(170, 45%, 43%);
  --gray-blue: hsl(240, 75%, 98%);
  --light-gray: hsl(0, 0%, 75%);
}
html {
  box-sizing: border-box;
}
*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
ul, li {
  list-style: none;
}
a {
  color: var(--dark-blue);
  text-decoration: none;
}
h2,
h3,
nav {
  font-family: 'Raleway', sans-serif;
}
h2 {
  color: var(--dark-blue);
  font-size: 2.4em;
  margin-bottom: .5em;
  line-height: 1.3em;
}
p {
  color: var(--dark-blue);
  font-size: 1.25em;
  margin-bottom: 1em;
}
body {
  font-family: 'Open Sans', sans-serif;
}
header {
  padding: 4em 4em 0 4em;
}
nav {
  display: flex;
  justify-content: space-between;
}
nav ul {
  display: flex;
  justify-content: space-between;
  width: 20%;
}
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4em;
  margin-bottom: 4em;
}
.hero_text,
.hero_img,
.how-to_text,
.how-to-img {
  flex-basis: 0;
  flex-grow: 1;
}
.hero_img img,
.how-to-img img {
  width: 85%;
  margin-left: 7em;
}
#cta-email {
  border: none;
  border: 1px solid var(--dark-blue);
  border-radius: 3px;
  font-family: inherit;
  padding: 1em;
  width: 340px;
}
.cta-email-btn,
.sign-up-btn {
  border: none;
  border-radius: 3px;
  background-color: var(--bright-blue);
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: .9em;
  font-weight: 700;
  margin-left: 1em;
  padding: 1em;
  width: 200px;
  cursor: pointer;
}
.cta-email-btn:hover,
.sign-up-btn:hover {
  background-color: var(--dark-blue);
}
.how-to-container {
  background: url(./images/bg-curve-desktop.svg) center;
  background-size: cover;
}
.how-to-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8em 4em;
}
.fylo-link a {
  color: var(--cyan);
  padding: .3em;
  border-bottom: 1px solid var(--cyan);
}
.fylo-link  img {
  margin-bottom: -.1em;
}
.how-to-testimonial {
  background-color: white;
  border-radius: 8px;
  box-shadow: 1px 2px 8px lightgrey;
  margin-top: 4em;
  padding: 2em;
  font-size: .8em;
  letter-spacing: 1px;
  line-height: 2em;
  width: 420px;
}
.how-to-testimonial p {
  font-size: 1.2em;
}
.how-to-testimonial img {
  width: 20px;
}
.testimonial-flex-cont {
  display: flex;
  align-items: center;
}
#testimonial-avatar {
  border-radius: 50%;
  width: 60px;
}
#avatar-name {
  font-size: 1.2em;
  font-weight: 700;
  margin: 0 0 0 1em;
  letter-spacing: 0;
}
#avatar-text {
  font-size: 1em;
  margin: 0 0 0 1.2em;
  letter-spacing: 0;
}
.sign-up-container {
  background-color: var(--desaturated-blue);
  display: flex;
  padding: 3em 4em;
}
.sign-up-text, 
.sign-up-input {
  flex-basis: 0;
  flex-grow: 1;
}
.sign-up-text {
  padding-top: 3em;
}
.sign-up-text h3,
.sign-up-text p {
  color: #fff;
}
.sign-up-text h3 {
  font-size: 2em;
  margin-bottom: 1em;
}
.sign-up-text p {
  font-size: 1.3em;
}
.sign-up-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10em;
}
.sign-up-input input {
  border: 0;
  border-radius: 3px;
  width: 500px;
  padding: 1em;
  margin-bottom: 1em;
}
.sign-up-btn {
  margin-left: 0;
}