:root {
  --dark-blue: hsl(243, 87%, 12%);
  --desaturated-blue: hsl(238, 22%, 44%);
  --bright-blue: hsl(224, 93%, 58%);
  --cyan: hsl(170, 45%, 43%);
  --gray-blue: hsl(240, 75%, 98%);
  --light-gray: hsl(0, 0%, 75%);
}
html {
  box-sizing: border-box;
}
*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
ul, li {
  list-style: none;
}
a {
  color: var(--dark-blue);
  text-decoration: none;
}
body {
  font-family: 'Open Sans', sans-serif;
}
header {
  padding: 4em 4em 0 4em;
}
nav {
  display: flex;
  justify-content: space-between;
}
nav ul {
  display: flex;
  justify-content: space-between;
  width: 20%;
}
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4em;
}
.hero_text {
  color: var(--dark-blue);
  flex-basis: 0;
  flex-grow: 1;
}
.hero_text h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.5em;
  margin-bottom: .5em;
}
.hero_text p {
  font-size: 1.2em;
  margin-bottom: 1em;
}
.hero_img {
  flex-basis: 0;
  flex-grow: 1;
}
.hero_img img {
  width: 80%;
  margin-left: 7em;
}
#cta-email {
  border: none;
  border: 1px solid var(--dark-blue);
  border-radius: 3px;
  font-family: inherit;
  padding: 1em;
  width: 340px;
}
.cta-email-btn {
  border: none;
  border-radius: 3px;
  background-color: var(--bright-blue);
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: .9em;
  font-weight: 700;
  margin-left: 1em;
  padding: 1em;
  width: 200px;
}