:root {
  --primary-color: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  --light-grey-blue: hsl(240, 78%, 98%);
  --grey-blue: hsl(234, 14%, 74%);
  --grey: hsl(233, 13%, 49%);
  --dark-grey: hsl(232, 13%, 33%);
}
html {
  box-sizing: border-box;
}
*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  background: 
    url(./images/bg-top.svg) top right no-repeat,
    url(./images/bg-bottom.svg) bottom left no-repeat;
  background-color: var(--light-grey-blue);
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  text-align: center;
}
header h2 {
  padding: 2em 0 1em 0;
  color: var(--grey);
  font-size: 2em;
}
.pricing-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
}
#toggle-annually,
#toggle-monthly {
  color: var(--grey-blue);
  font-weight: 700;
  padding: 0 1em;
}
#toggle {
  background: var(--primary-color);
  border: 0;
  border-radius: 40px;
  color: var(--primary-color);
  width: 55px;
  height: 30px;
  cursor: pointer;
}
.toggle-circle {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  margin: .25em .3em;
  background-color: var(--light-grey-blue);
}
.pricing-table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10em;
}
.pricing {
  background-color: #fff;
  box-shadow: 1px 4px 10px lightgrey;
  color: var(--dark-grey);
  padding: 2em;
}
.pricing-tier {
  font-weight: 700;
  margin-bottom: .5em;
}
.pricing p:nth-child(n+2) {
  font-weight: 700;
  padding: 1.5em;
  border-bottom: 1px solid var(--grey-blue);
}
.pricing h3 {
  font-size: 4em;
  padding: .2em .2em .5em .2em;
  border-bottom: 1px solid var(--grey-blue);
}
.pricing button {
  border: 0;
  border-radius: 10px;
  background: var(--primary-color);
  color: var(--light-grey-blue);
  width: 85%;
  padding: 1em;
  margin: 3em 0 1em 0;
  text-transform: uppercase;
  font-family: inherit;
  font-size: .8em;
  font-weight: 700;
  letter-spacing: 2px;
  cursor: pointer;
}
#basic {
  border-radius: 8px 0 0 8px;
}
#master {
  border-radius: 0 8px 8px 0;
}
#professional {
  padding: 4em 2em;
  background: var(--primary-color);
  color: var(--light-grey-blue);
  border-radius: 8px;
}
#professional button {
  background: var(--light-grey-blue);
  color: hsl(237, 63%, 64%);
}