:root {
  --primary-color: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  --light-grey-blue: hsl(240, 78%, 98%);
  --grey-blue: hsl(234, 14%, 74%);
  --grey: hsl(233, 13%, 49%);
  --dark-grey: hsl(232, 13%, 33%);
}
html {
  box-sizing: border-box;
}
*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  background: 
    url(./images/bg-top.svg) top right no-repeat,
    url(./images/bg-bottom.svg) bottom left no-repeat;
  background-color: var(--light-grey-blue);
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  text-align: center;
}
header h2 {
  padding: 2em 0 1em 0;
  color: var(--grey);
  font-size: 2em;
}
.pricing-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
}
#toggle-annually,
#toggle-monthly {
  color: var(--grey-blue);
  font-weight: 700;
  padding: 0 1em;
}
#toggle {
  background: var(--primary-color);
  border: 0;
  border-radius: 40px;
  color: var(--primary-color);
  width: 55px;
  height: 30px;
}
.toggle-circle {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  margin: .25em .3em;
  background-color: var(--light-grey-blue);
}